<div class="liveclock__container text-center">
  <h4 class="liveclock__date heading-4 text-grayscale-100"><%= Date.today.strftime("%A, %b %d") %></h4>
  <div class="flex justify-center items-center text-9xl md:text-[160px] font-semibold leading-none text-grayscale-100">
    <h1 id="liveclock__time-hour" onload="showHour()"></h1>
    <h1 class="text-[7rem] animate-pulse">:</h1>
    <h1 id="liveclock__time-minute" onload="showMinute()"></h1>
  </div>
</div>

<script>
  function showHour(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    h = (h < 10) ? "0" + h : h;

    document.getElementById("liveclock__time-hour").textContent = h;

    setTimeout(showHour, 1000);
  }

  function showMinute(){
    var date = new Date();
    var m = date.getMinutes(); // 0 - 59
    m = (m < 10) ? "0" + m : m;

    document.getElementById("liveclock__time-minute").textContent = m;
    
    setTimeout(showMinute, 1000);
  }

  showHour();
  showMinute();
</script>
