<nav class="flex gap-8 p-4 bg-slate-200">
  <%= link_to "AbsensiApp", root_path, class: "text-xl font-semibold" %>
  <ul class="flex gap-4">
    <li><%= link_to "User", users_path %></li>
    <li><%= link_to "Attendance", attendances_path %></li>
    <li><%= link_to "Attendance Log", attendance_logs_path %></li>
  </ul>
</nav>