/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash-primary {
border: 1px solid #2563eb;
background-image: linear-gradient(to right, rgba(37, 99, 235, 0.2), rgba(37, 99, 235, 0));
box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}


.flash-success {
border: 1px solid #22c55e;
background-image: linear-gradient(to right, rgba(34, 197, 94, 0.2), rgba(34, 197, 94, 0));
box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.1);
}

.flash-danger {
  border: 1px solid #ef4444;
  background-image: linear-gradient(to right, rgba(239, 68, 68, 0.2), rgba(239, 68, 68, 0));
  box-shadow: 0 0 0 4px rgba(239, 68, 68, 0.1);
}

#preview-selfie__box {
  aspect-ratio: attr(width) / attr(height);
}

    